page-takelike {
  .title12{
    text-align: left!important;
    color: #444!important;
  }
  .icon{
    width: 16px;
    margin-right: 7px;
  }
  .icontxet{
    line-height: 16px;
    height: 13px;
    display: block;
    color: #ccc;
  }
  .comment1{
    font-size:14px;
    line-height: 18px;
    color: #444!important;
    text-indent: 14px;
    margin: 0;
  }
  .item-inner{
    border:none!important;
  }
  .bac1{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
}
