page-article-issue-four {
  .main{
    background: #f5f5f5;
  }
  .bac{
    background: #fff;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-top: 10px;
    font-size: 15px;
    color: #444;
  }
  .red{
    color: #fd4a13;
  }
}
