page-takemax {
  .title{
    margin: 0!important;
    text-align: center;
    font-size: 16px;
    line-height: 36px;

  }
  .titleactive{
    color: #2AB1FF!important;
  }
  .titledeav{
    color: #444!important;
  }
}
