<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">

    <ion-grid>
      <ion-row>
        <ion-col col-10>
            <div class="search">
              <ion-icon name="search" (tap)="initial(1)"></ion-icon>
              <ion-input class="input" type="text" [(ngModel)] = "text" float-right  placeholder="搜索"></ion-input>
            </div>
        </ion-col>
        <ion-col col-2>
          <button ion-button clear float-right small navPop style="padding-top: 5px;color: black">
            取消
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-header>


<ion-content padding style="background: #F5F5F5">
  <ion-list reorder="true" *ngIf="ifshow1">
    <ion-list-header>搜索历史</ion-list-header>
    <ion-item *ngFor="let item of items"  (tap) = "changes(item)">{{ item }}</ion-item>
  </ion-list>
  <ion-list *ngIf="ifshow2">
    <ion-item>没有任何相关团购视频</ion-item>
  </ion-list>
  <ion-card no-padding margin-vertical  *ngFor = "let card of dataList; let i = index;">

    <ion-item>
      <ion-avatar item-start>
        <img [src]="imgurl + card.user.headImgUrl">
      </ion-avatar>
      <span class="name">{{card.user.username}}</span>
      <ion-note align-self-center float-right >
        {{card.createdAt}}
      </ion-note>
    </ion-item>
    <ion-grid>
      <ion-row (tap)="goTopage($event,card,i)">
        <ion-col col-5>
          <div class="modal" style="position: absolute;width: 100%;height: 100%"></div>
          <iframe frameborder="0" width="100%" height="100px" [src] = "card.videoUrl2"  allowfullscreen></iframe>
        </ion-col>
        <ion-col col-7>
          <ion-card-content  no-padding>
            <p class="title">{{card.videoTitle}}</p>
            <p class="content-text">{{card.intro}}</p>
            <p class="price0">￥{{card.price}}</p>
            <p class="content-text">团购人数 <span class="price1">{{card.yetBuyNum}}/{{card.reqBuyNum}}</span></p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col  no-padding (tap)="change(i,'likeimgUrl','1')">
        <button ion-button icon-left clear small>
          <img [src]="card.likeimgUrl" class="icon1">
          <div class="icontxet">{{card.likeNum}}</div>
        </button>
      </ion-col>
      <ion-col  no-padding (tap)="change(i,'collectimgUrl','2')">
        <button ion-button icon-left clear small>
          <img [src]="card.collectimgUrl" class="icon1">
          <div class="icontxet">{{card.collectNum}}</div>
        </button>
      </ion-col>
      <ion-col  no-padding (tap)="goTopage($event,card,i,true)">
        <button ion-button icon-left clear small>
          <img src="assets/img/comment.png" class="icon1">
          <div class="icontxet">{{card.commentNum}}</div>
        </button>
      </ion-col>
      <ion-col  no-padding (tap)="change(i,'shareimgUrl')">
        <button ion-button icon-left clear small>
          <img [src]="card.shareimgUrl" class="icon1">
          <div class="icontxet">{{card.relayNum}}</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
