page-mine {
  .scroll-content {
    background: #F5F5F5;
  }
  .toolbar-background-ios{
    background: #ffffff
  }
  .title-money{
    padding-top: 32px;
    div{
      font-size: 36px;
      color: #2ab1ff;
      font-weight: 400;
    }
  }
  .title-balance{
    margin-top: 12px;
    div{
      font-size: 16px;
      color: #444444;
      font-weight: 400;
    }
  }
}
